
.banner{
    .content{
        position: relative;
        top: 30px;
        height: 650px;
    }
    
.next {
    float: right;
    display: none;
}
.back {
    position: absolute;
    display: none;
    bottom: 0px;
    right: 45px;
}
img {
    padding: 50px;
}
}
.front{
    position: relative;
    margin-bottom: 30px;
}
.others{
 position: relative;
 bottom: 60px;
 margin-bottom: 100px;
}