
.banner{
    position: relative;
    top: 30px;
    .content{
        position: relative;
    }
    
.next {
    float: right;
    cursor: pointer ;
    display: none;
}
.back {
    position: absolute;
    display: none;
    bottom: 0px;
    right: 85px;
    cursor: pointer ;
}
img {
    position: relative;
    margin-bottom: 130px;
    padding: 30px;
}
}
.front{
    position: relative;
    bottom: 50%;
    margin-bottom: 60px;
}
.others{
    position: relative;
    bottom: 60px;
    margin-bottom: 100px;
}
