.footer{
   background-color:#896DE5;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   bottom: 0;

   .left {
      display: flex;
      margin-left: 40px;
   } 

   .icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
      min-width: 20%;
   }
}

@media (max-width: 1023px) {

   .nav-logo {
      height: 45.5px;
      margin-top: 9px;
   }

   .footer {
      z-index: 10;
      height: 80px;
      width: 100%;

      .left{
          margin: 10px;
      }

      .icons{
         gap: 5px;
         margin-right: 5px;
      }
  }
   
}