.testimonios{
    position: relative;
    color: #FFF;
    margin: auto;
    .text-test {
        margin: 14px;
    }
    .desktop {
        position: relative;
        bottom: 10px;
        margin-bottom: 40px;
    }
}