.testimonios{
    position: relative;
    color: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    .text-test {
        margin: 14px;
    }
    .client {
        position: relative;
        top: -70px;
    }
}