.home {
    position: relative;
    .container-header {
        top: 20px;
        height: 100vh;
        position: relative;
    }
  
}
.content {
    position: relative;
    margin-bottom: 80px;
    bottom: 0;

}